<h2 class ="difficultycolor"><%=p1_name%> Choose your difficulty!
<form method="post" action="difficulty">
  <select name="difficulty" value="gamechoice">
  <option value="difficulty1">Easy</option>
  <option value="difficulty2">Medium</option>
  <option value="difficulty3">Hard</option>
  <input type="submit" value="Enter">
  </form> 
  </select>
  </h2>