<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<head>
	<title></title>
</head>
<body>
  <!-- background color: #000000;
  background-image: url(https://previews.123rf.com/images/albund/albund1210/albund121000061/15932891-A-piece-of-rope-made-into-a-hangmans-noose-on-an-isolated-background-Stock-Photo.jpg); -->
</body>
</html>
<h1 class="welcometitle">Welcome to Hangman</h1>
<%=yield%>