<link rel="stylesheet" type="text/css" href="/css/loser.css">
<div class="play_again"><center><%=p1_name%> Wins
<%=p2_name%> You ran out of guesses :(
the word was <%=word%>
<b><center><a href="/" class="play_again">Click Here to Play Again!</a>
</div>
<img src="http://www.reactiongifs.com/wp-content/uploads/2013/09/sadtrick.gif">