<body>
<form action="/one_player_name" method="post" class="mix">
<h4 class="playerstyle1">Player1:</h4>
<h4 class="centered1"><input type="text" name="player1" placeholder="Player 1 Enter name here" required autofocus maxlength="10" oninvalid="this.setCustomValidity('Please dont leave this blank!')"
    oninput="setCustomValidity('')"/>
<h4 class="centered1"><input type="submit" value="Enter">
</form>
<h4 class="centered1"><img src="https://lh5.googleusercontent.com/-NOhloov_pPQ/Ua8reTIIkmI/AAAAAAAAADA/z3ZNhwEKCC4/w126-h126-p/tumblr_me7ucl8kO61rf089no1_500.gif">
</body>