<h1 class="pickname"> <%=p1_name%> Please pick a word for <%=p2_name%> </h1>

<h5 class="pickname2"><%=p2_name%> You will be guessing <%=p1_name%>'s word. </h5>

<form method="post" action="secertword">
<h1 class="pickname"><input type="password" name="word" onkeyup="this.value = this.value.replace(/[^a-zA-Z]/, '')" required maxlength="15" autofocus>
<input type="submit"></h1>
<input type="hidden" name="player1" value="<%p1_name%>">
<input type="hidden" name="player2" value="<%p2_name%>">
</form>