<link rel="stylesheet" type="text/css" href="/css/winner.css">
<center><b><u><div class="play_again"><%=p2_name%> Wins!!
<%=p1_name%> He/She found out your word... 
The word was <%=word%></outline></font></b></center>
<b><center><a href="/" class="play_again">Click Here to Play Again!</a>
</div>