 body {
  background color: #000000;
  background-image: url(http://37.media.tumblr.com/3d2db7a07e2cdd06a1e6eaf817b4b9d7/tumblr_mk0ts23yxW1qf7klco2_500.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }
 .play_again {
	text-align: center;
	color: maroon;
	background-color: #4AE1FC;
	font-size: 2.0rem;
}