 body {
  background color: #000000;
  background-image: url(http://68.media.tumblr.com/tumblr_loefwhJ2Ei1qdkt87.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }
 .play_again {
	text-align: center;
	color: maroon;
	background-color: #4AE1FC;
	font-size: 2.0rem;
}